.calculator{
  border: 1px solid rgba(44, 43, 43, 0.816);
  width: 200px;
  border-radius: 5px;
 

}
.calc{
 display: flex;
 justify-content:center ;
 align-items: center;
}
h2{
  text-align: center;
}
